configure.lineno
dsv
etb
etrans-aug
mca-yproc
*.o
*.swp
*~
*.exe
stend
html
latex
man
mcacc
libmca.a
tags
types
epics
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.h.in
configure
depcomp
install-sh
missing


